<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Education - CIKAL KAUTSAR QADRI</title>
</head>
<body>
  <h1>Education</h1>
  <a href="{% url 'education' %}"></a>
  <ul>
    <li>
      <h4>Universitas Pendidikan Indonesia | Bandung, Indonesia</h4>
      <p>Undergraduate Student of Computer Science Education (2023 - sekarang)</p>
    </li>
    <li>
      <h4>SMAN 1 Batujajar | Bandung, Indonesia</h4>
      <p>MIPA (2018-2021)</p>
    </li>
  </ul>
  <p> <a href="{% url 'home' %}">Back to Home</a></a></p>
</body>
</html>
