<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home - CIKAL KAUTSAR QADRI</title>
  <style>
    body { font-family: Arial, sans-serif; text-align: center; }
    .container { margin: 20px; }
    .navigation a { margin: 0 10px; text-decoration: none; font-weight: bold; }
  </style>
</head>
<body>
  <h1>CIKAL KAUTSAR QADRI</h1>
  <p>Bandung, Indonesia | Phone: +62 895-3801-89842 | Email: cikalkautsar3806@gmail.com Instagram: @cikaalkautsar_</p>
  
  <div class="navigation">

      <a href="{% url 'home' %}">Home</a> 
      <a href="{% url 'education' %}">Education</a> 
      <a href="{% url 'workexperience' %}">Work Experience</a> 
      <a href="{% url 'socialmedia' %}">Social Media</a>
  </div>

  <section class="summary">
    <h3>Summary</h3>
    <p>Undergraduate Student of Computer Science Education from Universitas Pendidikan Indonesia. Having experience in active organizations during college. A well-organized person, excellent in communication, detail-oriented, fast learner and capable of adapting to a fast-paced environment, creative person, able to work individually and in a team, eager to learn something, and ready to take a challenge.</p>
  </section>
</body>
</html>

