<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Work Experience - CIKAL KAUTSAR QADRI</title>
</head>
<body>
    <section class="work-experience">
        <h3>Work Experience</h3>
        <hr><hr>
        <h4>Redbull Basketball Championship Jabar Series</h4>
        <p>Administrations (Januari – Maret 2023)</p>
        <ul>
            <li>Spearheaded the search for cost-effective meeting locations, demonstrating key skills in event planning and management.</li>
            <li>Successfully coordinated with permit authorities and engaged 24 schools in the competition through effective communication and stakeholder collaboration.</li>
            <li>Managed invitations and negotiations with MCs, judges, and performers, optimizing budget allocation for the event.</li>
            <li>Provided essential support and guidance to coaches and team officials throughout the competition process, enhancing overall efficiency.</li>
            <li>Fostered strong communication with the team and recruited key roles such as SPG, SPB, LO, and runners, ensuring smooth event execution.</li>
            <li>Organized and managed documents for approval from clients, showing attention to detail, organizing skills, and commitment to meeting the needs of clients.</li>
        </ul>

        <h4>Arsana Wedding Organizer</h4>
        <p>Crew Staff (now)</p>
        <ul>
            <li>Check all audio that will be played during the marriage ceremony and the event.</li>
            <li>Ensure and coordinate with the family’s red envelope (angpau) person in charge for the handover and locking of the box.</li>
            <li>Serve as the front gate and welcome guests together with the usher.</li>
            <li>Create a report related to souvenirs.</li>
            <li>Conduct a preparation checklist.</li>
            <li>Count the number of guests in attendance.</li>
        </ul>
    </section>
    <p><a href="{% url 'home' %}">Back to Home</a></p>
</body>
</html>
